#basic {
    width: 501px;
    text-align: center;
}

#researchers {
    text-align: center;
    align-content: center;
    display: flex;
    width: 50%;
}

#no-ed {
    margin-bottom: 1px;
    text-align: center;
    width: auto;
    margin: 0 auto;
    border: groove;
    border-color: brown;
    border-width: 2px;
}

#low-skill {
    display: block;
    width: fit-content;
    border-style: solid;
    padding: 2px;

    margin: 0;
}

#basic-ed {
    margin: 0 auto;
    width: auto;
    border: groove;
    border-color: orange;
    border-width: 2px;
}

#med-skill {
    margin: 0;
    display: block;
    left: 210px;
    top: 133px;
    width: fit-content;
    border-style: solid;
    padding: 2px;
}

#high-ed {
    margin: 0 auto;
    width: auto;
    border: groove;
    border-color: rgb(168, 21, 41);
    border-width: 2px;
}

#high-skill {
    margin: 0;
    display: block;
    left: 510px;
    top: 133px;
    width: fit-content;
    border-style: solid;
    padding: 2px;
}

h3 {
    width: 501px;
    text-align: center;
}